/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.container {
	width: 1500px;
}

body {
	padding-top: 70px;
}

footer {
	padding: 30px 0;
}

/*
* Shared for steps
*/
.summary dd {
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.summary .h3 {
	color: gray;
	text-transform: uppercase;
}

.minitron {
	background-color: #eee;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 30px;
}

.minitron p {
	margin: 0;
}

.nav {
	margin-bottom: 10px;
}

.bg-info, .bg-warning {
	padding: 15px;
	border-radius: 5px;
}

.border-radius (@radius ){ .border-top-radius (@radius); .border-right-radius
	(@radius); .border-bottom-radius (@radius); .border-left-radius
	(@radius);
	
}

/*
* Step 1
*/
.step1 .entities {
	position: relative;
	float: left;
	width: 45%;
	height: 200px;
}

.step1 #moveButtons {
	position: relative;
	float: left;
	margin: 0 5px 0 5px;
}

.step1 #moveButtons button {
	position: relative;
	float: left;
	clear: both;
}

/*
* Step 2 
*/
.step2 .entities {
	height: 200px;
}

.step2 .moveButtons {
	text-align: center;
}

/*
* Step 3
*/
.step3 .twitter, .step3 .reddit {
	display: none;
}

/*
* Step 4
*/
.step4 .contributors img {
	height: 20px;
}

/*
* Dashboard
*/
/*
* Footer
*/
footer img {
	height: 40px;
}

footer img:last-child {
	margin-left: 10px;
	height: 30px;
	vertical-align: bottom;
	height: 30px;
}

/*
* SPINNER
*/
.btn i.fa-refresh {
	display: none;
}

.btn.active i.fa-refresh {
	display: inline-block;
}

/***
*** SELECT CONTRIBUTORS
***/
.propertyList {
	max-height: 500px;
	overflow: scroll;
}

.contentRight img {
	width: 100%;
}
